# Add this to ~/.gitconfig
[core]
  attributesfile = ~/.gitattributes
[merge "my-custom-driver"]
	name = A custom merge driver used to resolve conflicts in certain files
	driver = my-merge-tool.sh %O %A %B
[merge "custom"]
  # ^ you can give your driver whatever name you want
  name = custom merge driver for specific files
  driver = node ./script.js %A %O %B %P